.section__login {
	height: calc(100vh - 75px);
}
.login__box {
	width: 80%;
}
.login__box fieldset {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}
.login__box .button {
	width: 120px;
	display: block;
	margin: 1rem auto;
}
.login__box .form__legend {
	text-align: center;
	font-size: var(--font-size-32);
	margin-bottom: 1rem;
}
.form__input--group {
	width: 100%;
}
.requireds span {
	display: block;
	color: rgba(200,0,0,.2);
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	font-style: italic;
	padding: 3px;
	text-align: center;
}
.requireds span.ok {
	text-decoration: line-through;
	color: #4AAC6F;
}
@media (min-width: 768px) {
	.login__box {
		width: 450px;
	}
	.login__box .form__legend {
		margin-bottom: 2rem;
	}
	.requireds {
		grid-template-columns: repeat(2, 1fr);
	}
}